@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100;1,300;1,400;1,700&display=swap");

body {
  font-family: "Roboto", serif;
  letter-spacing: 1px;
  font-weight: 400;
}

.spinnerContainer {
  width: 100%;
}
.spinnerloading {
  margin: 25%;
}

/* Text utils */

.lightweight {
  font-weight: 400;
}

.heavyweight {
  font-weight: 700;
}
/* Login */

.loginPage {
  background-image: url("./images/coverLogin.jpg");
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  max-width: 100%;
  height: auto;
}

.Signincol {
  background: #ffffff;
  width: 100%;
  padding: 0 !important;
}

.formlogin {
  width: 80%;
  margin: auto;
}

.logincontainer {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

.btn-login {
  border-radius: 5px;
  background-color: #04c45c;
  color: white;
  border: none;
  padding: 15px;
}

@media (max-width: 992px) {
  .logincontainer {
    margin-top: 3rem;
    padding-bottom: 2rem;
  }
}

/* Dashboard */
.logoMenu {
  padding-top: 1rem;
}

.NavBar {
  display: flex;
  justify-content: space-between;
}

/* Not Found Page */

.notfoundpagecontainer {
  min-height: 100vh;
  min-width: 100vw;
}
.notfoundpage {
  margin-top: 20%;
}

/* TABLE */

.filterMenu{
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.219) ;
}

.tableSingleKeyBtn {
  border-top: none !important;
}

.textareacomments {
  border: none;
  border-radius: 6px;
  background-color: #d7ebd6;
}
.textareacomments:hover {
  background-color: #333333;
  color: white;
}

.inputComment {
  width: inherit;
}
.textareacommentsInput {
  margin-bottom: auto !important;
  width: 100%;
  border: none !important;
  /* background-color: black !important ; */
}

.form-control {
  background-color: #d7ebd6 !important;
}

.commentBoxInput {
  margin: auto;
  width: 100%;
  justify-content: center;
}

.commentBox {
  margin: auto;
  max-width: 250px;
  border: 1px solid #d7ebd6;
  width: 100%;
  justify-content: center;
}

.commentSubBox {
  margin: auto;
}
.commentsection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonscomments {
  display: flex;
  justify-content: center;
}

.addCommentBox {
  display: flex;
}

.savebuttoncontainer :hover {
  background-color: #686464;
  /* border-radius: 5px; */
}

.reloadBtnContainer {
  margin-left: 2%;
  margin-bottom: 1%;
}
.reloadButton {
  width: 48px;
  height: 48px;
  padding: 2rem;
  margin: 10px;
  background: url("./images/icons8-cloud-refresh-64.png");
  border: none;
}
.tableHeader {
  background-color: #d7ebd6;
  /* border-top:1px solid black; */
  color: #686464;
}

.tableSingleKey {
  vertical-align: middle !important;
}

.tableKey {
  color: #333333;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.068);
  padding: 1rem !important;
}

.tableKey:hover {
  background-color: #6FCF97;
}

.submitcommentbtn {
  border: brown;
  display: none;
  position: absolute;
  z-index: 2;
}

.submitcommentbtn:hover {
  display: block;
}

/* MODAL */


.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

/* Media Player */

.MediaPlayerContainer {
  width: fit-content;
  height: 304px;
  border: #6fcf97c4 solid 2px;
  margin: 2rem;
}

.FileDetails {
  line-height: 5px;
  font-weight: 600;
}

.spectogramContainer {
  margin: auto;
}

.spectogramImage {
  max-width: 100%;
  max-height: 100%;
}

/* Pagination */

.marginNone {
  margin-top: 1rem !important;
  margin-bottom: none;
}

.footerPagination {
  position: fixed;
  bottom: 0;
  width: 100vw;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
  background-color: #d7ebd6;
  color: #686464;
  margin-right: 2rem;
}

.marginButtonPagination {
  margin: 5px 60px 0px 60px;
}
.paginationButton {
  font-size: 18px;
  font-weight: 700;
  position: relative;
  top: calc(50% - 10px);
}

.footerPaginationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.previousNextbtn {
  text-align: center;
  padding: auto;
  width: 30px;
  height: 30px;
  color: #686464;
}

.previousNextbtn:hover {
  border-radius: 25px;
  padding: 10px;
  opacity: 0.7;
  cursor: pointer ;
}


.previousNextbtnDisabled{
  opacity: 0.2;
}


/* Spectogram */



#waveform{
  width: 100%;
  background: rgba(0,0,0,0.8);
}
/* #wavespectrogram{
  margin: 10px auto;
  position: relative;
}
#wavespectrogram canvas{
  left: 0;
} */

button{
  background: #eee;
  border: 1px solid #ddd;
  border-bottom: 4px solid #ccc;
  cursor: pointer;
  font-size: 20px;
  margin-top: 10px;
  padding: 10px;
}
button:active{
  outline: none;
  border-top: 4px solid #eee;
  border-bottom: 2px solid #777;
}
button:focus{
  outline: none;
}
/* 
.containerInfoAudio{
  margin-top: 10%;
} */





/* slider */

.slidecontainer {
  
  width: 20%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  outline: none; /* Remove outline */

}



/* Switch */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.sliderSwitch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.sliderSwitch:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .sliderSwitch {
  background-color: #2196F3;
}

input:focus + .sliderSwitch {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .sliderSwitch:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliderSwitchs */
.sliderSwitch.round {
  border-radius: 34px;
}

.sliderSwitch.round:before {
  border-radius: 50%;
}