@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100;1,300;1,400;1,700&display=swap");

html {
  scroll-behavior: auto;
}
body {
  color: #575756;
  letter-spacing: 1.3px;
  font-weight: 300;
}

/* Text utils */

.lightweight {
  font-weight: 300;
}

.heavyweight {
  font-weight: 700;
}
/* Login */

.loginPage {
  background-image: url("./images/coverLogin.jpg");
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  max-width: 100%;
  height: auto;
}

.Signincol {
  background: #ffffff;
  width: 100%;
  padding: 0 !important;
}

.formlogin {
  width: 80%;
  margin: auto;
}

.logincontainer {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

.btn-login {
  border-radius: 5px;
  background-color: #04c45c;
  color: white;
  border: none;
  padding: 15px;
}

@media (max-width: 992px) {
  .logincontainer {
    margin-top: 3rem;
    padding-bottom: 2rem;
  }
}

/* Dashboard */
.titleDashboardContainer {
  display: grid;
  align-content: space-around;
}

.titleDashboard {
  color: #575756;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  width: 60%;
  margin: auto;
}
.logoMenu {
  padding-top: 1rem;
}

.NavBar {
  display: flex;
  justify-content: space-between;
}

/* Not Found Page */

.notfoundpagecontainer {
  min-height: 100vh;
  min-width: 100vw;
}
.notfoundpage {
  margin-top: 20%;
}

/* Table edit call */

.tableSingleKeyEditCalls {
  max-height: min-content;
}

/* TABLE */
.notfoundAudios {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table td,
.table th {
  padding: 1px !important;
}

.btndeleteAudio:hover {
  cursor: pointer;
}

.btnSortOrder {
  cursor: pointer;
}

.lastCell {
  max-width: 10px;
}

.commentFilter {
  display: flex;
  justify-content: flex-end;
}

.commentKey {
  max-width: 500px;
}

.cardWhite {
  background-color: white;
  margin: 1rem;
  color: black;
}

.cardDark {
  width: 100%;
  background-color: #07daff13;
  margin: 1rem;
}

.filterMenu {
  display: flex;
  border: 0.5px solid rgba(0, 0, 0, 0.103);
  justify-content: flex-end;
}

/* .filterBadges{
margin: auto;
} */

.singleBadge {
  margin: 5px;
  height: 20px;
  width: 100px;
}

.singleBadge:hover {
  cursor: pointer;
  opacity: 0.5;
}

.singleBadgeNumber {
  margin: 1rem;
  height: 20px;
  width: 50px;
}

.singleBadgeNumber:hover {
  cursor: pointer;
  opacity: 0.5;
}

.textareacomments {
  border: none;
  border-radius: 6px;
}
.commentForm {
  margin: auto;
}
.inputComment {
  width: inherit;
}
.textareacommentsInput {
  height: 30px;
  border-radius: 5px;
  margin-top: 3px;
  width: 100%;
  border: none !important;
}

.textareacommentsInput::placeholder {
  color: #ccc;
}

/* .form-control {
  background-color:  #07ffc113 !important;
} */

.commentBox {
  margin: auto;
  /* max-width: 250px; */
  border: 1px solid #d7ebd6;
  width: 100%;
  justify-content: center;
}

.commentSubBox {
  text-align: center;
  vertical-align: middle !important;
}
.commentsection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonscomments {
  display: flex;
  justify-content: center;
}

.commentBtnValidateCall {
  width: 30px;
  margin: 5px;
}

.commentBtns:hover {
  border-radius: 30px;
  opacity: 1;
}

.savebutton {
  border-color: currentColor !important;
  margin: auto;
}

.commentBtnsSave {
  width: 40px;
  background-color: #97d893 !important;
}

.commentBtnsDelete {
  width: 40px;
  background-color: #b94242 !important;
}

.commentBtns:disabled {
  opacity: 0.3 !important;
}
.commentBtns:enabled {
  opacity: 0.9 !important;
}

.dropdownBtn {
  height: 40px;
}
.dropdownKey {
  padding: 0.5px !important;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
}

.labelText {
  font-size: 18px;
  font-weight: 400;
}

.reloadBtnContainer {
  margin-left: 2%;
}

.reloadButton {
  padding: 2rem;
  background: url("./images/icons8-cloud-refresh-64.png");
  background-size: 45px;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
.tableHeader {
  background-color: #d7ebd6;
  color: #686464;
  vertical-align: middle !important;
}

.indexKey {
  background-color: #d7ebd6;
}
.tableSaveRegionHeader {
  background-color: #1a686e6c;
  color: #686464;
  vertical-align: middle !important;
}

.tableNewCall {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.table-responsive {
  overflow-x: visible !important;
}

.tableSingleKey {
  vertical-align: middle !important;
}

.tableKey {
  color: #333333;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.068);
  padding: 1rem !important;
}

.tableSingleKey {
  border: 1px solid rgba(197, 197, 197, 0.274);
}

.tableKey:hover {
  background-color: #6acc938f;
  cursor: pointer;
}

.submitcommentbtn {
  border: brown;
  display: none;
  position: absolute;
  z-index: 2;
}

.submitcommentbtn:hover {
  display: block;
}

.femaleTag {
  background-color: rgba(255, 192, 245, 0.678);
}

.maleTag {
  background-color: rgba(192, 212, 255, 0.678);
}

.labelTag {
  font-size: large !important;
  font-weight: 200 !important;
  margin: auto;
}

/* Modal Help  */

.modalHelpContainer {
  width: 350px !important;
  margin-left: 40%;
}

.modalHelpBody {
  background-color: rgba(120, 156, 167, 0.164);
}

/* MODAL */

.AnnotationsNotes {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.idNumberModal {
  width: 200px;
}

.modal-dialog {
  max-width: 95vw !important;
  padding: 0;
}

.helpIcon {
  right: 0;
  cursor: pointer;
  position: absolute;
  margin: 1.5rem;
}

.helpIcon:hover {
  color: #6fcf976b;
  box-shadow: 0 0 2px #6fcf976b;
  text-shadow: 0 0 2px #6fcf976b;
  font-size: 35px;
  transition: ease-in;
}

.spectogramwave {
  margin-top: 3%;
}
/* Media Player */

.infoAndNotesContainer {
  display: flex;
  justify-content: space-between;
}

.infoAudio {
  width: 100%;
  color: whitesmoke;
  background-color: rgba(51, 51, 51, 1);
}
.MediaPlayerContainer {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}

.controlsContainer {
  border: 1px rgba(47, 170, 63, 0.308) solid;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
}

.controlActions {
  margin-top: 1rem;
  justify-content: center;
  margin-bottom: 3rem;
}

.containerPlayButton {
  width: 60px;
  margin: 1rem;
}
.PlayButton {
  width: 50px;
  height: 50px;
  background: #d7ebd6;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.FileDetails {
  margin: 15px;
  font-weight: 300;
}

.spectogramContainer {
  border: solid 0.1px #252c3128;
}

.WavesTitlesContainer {
  /* background-color: #04c45c; */
  border: solid 0.1px #252c3128;
  width: 100%;
  margin: 5px;
}

.spectogramImageContainer {
  width: auto;
}
/* .spectogramImage {
  max-width: 900px;
  max-height: 300px;
} */

/* Pagination */

.marginNone {
  margin-top: 1rem !important;
  margin-bottom: none;
}

.footerPagination {
  /* right: 0;
  bottom: 0;
  left: 0; */
  width: 100vw;
  font-size: 12px;
  font-weight: 500;
  display: grid;
  justify-items: center;
  background-color: #d7ebd6;
  color: #686464;
  margin-right: 2rem;
}

.paginationButton {
  font-size: 18px;
  font-weight: 700;
  position: relative;
  top: calc(50% - 10px);
}

.footerPaginationContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.previousNextbtn {
  text-align: center;
  padding: auto;
  width: 30px;
  height: 30px;
  color: #686464;
}

.previousNextbtn:hover {
  border-radius: 25px;
  padding: 10px;
  opacity: 0.5;
  cursor: pointer;
  color: #2196f3;
}

.previousNextbtnDisabled {
  opacity: 0.2;
}

/* Spectogram */

.spectogramOptions {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dropdownButonsSpectogram {
  background-color: #adadad79 !important;
  border-color: none !important;
}
#waveform {
  /* width: 100%; */
  background: rgba(0, 0, 0, 0.8);
}
#wavespectrogram {
  margin: 10px auto;
  position: relative;
  width: 100%;
}

.wavespectrogram > canvas {
  width: 100vw;
}

button {
  background: #eee;
  border: 1px solid #ddd;
  border-bottom: 4px solid #ccc;
  cursor: pointer;
  font-size: 20px;
  margin-top: 10px;
  padding: 10px;
}
button:active {
  outline: none;
  /* border-top: 4px solid #eee;
  border-bottom: 2px solid #777; */
}
button:focus {
  outline: none;
}

/* slider */

.formFilter {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boxRangerSlider {
  margin-left: 1rem;
  font-size: 18px;
  font-weight: 300;
  height: 35px;
  width: 35px;
  position: relative;
  border: 2px solid rgba(0, 128, 0, 0.527);
  border-radius: 25px;
}

.boxRangerSliderInner {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  outline: none; /* Remove outline */
}

/* Switch */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sliderSwitch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(51, 51, 51);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.sliderSwitch:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .sliderSwitch {
  background-color: #04c45c;
}

input:focus + .sliderSwitch {
  box-shadow: 0 0 1px #04c45c;
}

input:checked + .sliderSwitch:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliderSwitchs */
.sliderSwitch.round {
  border-radius: 34px;
}

.sliderSwitch.round:before {
  border-radius: 50%;
}

/* Search */

.bodySearch {
  display: flex;
  margin-inline-end: auto;
  width: 350px;
  justify-content: flex-end;
  font-family: "Raleway", sans-serif;
  position: relative;
  float: right;
}

.search__input {
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  color: #575756;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #575756;
  border-radius: 0;
  background-position: 100% center;
}

.search__input::placeholder {
  color: rgba(87, 87, 86, 0.8);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

/* Search Dropdown */

.dropbtn {
  background-color: transparent;
  color: black;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 5px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content div:hover {
  background-color: #04c45c;
  cursor: pointer;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #04c45c;
}
