@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100;1,300;1,400;1,700&display=swap");


body {
  font-family: "Roboto", serif;
  letter-spacing: 1px;
  font-weight: 400;
}

.spinnerContainer{
  width: 100%;
}
.spinnerloading{
  margin: 25%;
}

/* Text utils */

.lightweight {
  font-weight: 400;
}

.heavyweight {
  font-weight: 700;
}
/* Login */

.loginPage {
  background-image: url("./images/coverLogin.jpg");
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  max-width: 100%;
  height: auto;
}

.Signincol {
  background: #ffffff;
  width: 100%;
  padding: 0 !important;
}

.formlogin {
  width: 80%;
  margin: auto;
}

.logincontainer {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

.btn-login {
  border-radius: 5px;
  background-color: #04c45c;
  color: white;
  border: none;
  padding: 15px;
}

@media (max-width: 992px) {
  .logincontainer {
    margin-top: 3rem;
    padding-bottom: 2rem;
  }
}

/* Not Found Page */

.notfoundpagecontainer {
  min-height: 100vh;
  min-width: 100vw;
}
.notfoundpage {
  margin-top: 20%;
}

/* TABLE */

.commentsection{
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonscomments{
  display: flex;
  justify-content: space-evenly;
}


.savebutton{
}

.savebuttoncontainer :hover{
background-color: #686464;
border-radius: 5px;
margin: 1rem;
padding: 10px;
}

.reloadBtnContainer{
  margin-left: 2%;
  margin-bottom: 1%;
}
.reloadButton{
  width: 48px;
  height: 48px;
  padding: 2rem;
  background: url("./images/icons8-cloud-refresh-64.png");
  border: none;
}
.tableHeader {
  background-color: #d7ebd6;
  border-top:1px solid black;
  color:#686464 ;
}

.tableSingleKey{
  vertical-align: middle !important;
  
}

.tableKey {
  color: #333333;
  font-size: 14px;
  border-top:2px solid rgba(0, 0, 0, 0.5);

}

.tableKey:hover{
  background-color: #6fcf97c4;
}

.textareacomments:hover{
  background-color: #333333;
  color: white;
}

.textareacomments {
  border: none;
  border-radius: 6px;
  background-color: #d7ebd6;
}

.submitcommentbtn{
  border: brown;
  display: none;
  position: absolute;
    z-index: 2;
}

.submitcommentbtn:hover{
  display: block;
}




/* MODAL */

.modal-dialog{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}